<h1>Cadastro de cliente</h1>
<hr />
<form  action="/Cliente/index" method="post">
    ClienteId:<input style="margin:3px" type="text" name="clienteId" /><br />
    Nome:<input style="margin:3px" type="text" name="Nome" /><br />
    Email:<input style="margin:3px" type="text" name="Email" /><br />
    <button type="submit">Salvar</button>
</form>